
.wi-day-rain-wind:before { content: '\e800'; } /* '' */
.wi-night-cloudy:before { content: '\e801'; } /* '' */
.wi-paper_plane:before { content: '\e802'; } /* '' */
.wi-day-cloudy-gusts:before { content: '\e803'; } /* '' */
.wi-night-alt-cloudy:before { content: '\e804'; } /* '' */
.wi-day-cloudy:before { content: '\e805'; } /* '' */
.wi-umbrella:before { content: '\e806'; } /* '' */
.wi-raindrop:before { content: '\e807'; } /* '' */
.wi-day-lightning:before { content: '\e808'; } /* '' */
.wi-day-rain-mix:before { content: '\e809'; } /* '' */
.wi-day-rain:before { content: '\e80a'; } /* '' */
.wi-day-showers:before { content: '\e80b'; } /* '' */
.wi-day-snow:before { content: '\e80c'; } /* '' */
.wi-snowflake-cold:before { content: '\e80d'; } /* '' */
.wi-day-sunny:before { content: '\e80f'; } /* '' */
.wi-day-storm-showers:before { content: '\e810'; } /* '' */
.wi-day-thunderstorm:before { content: '\e811'; } /* '' */
.wi-cloudy-gusts:before { content: '\e812'; } /* '' */
.wi-map:before { content: '\e813'; } /* '' */
.wi-cloudy:before { content: '\e814'; } /* '' */
.wi-fahrenheit:before { content: '\e815'; } /* '' */
.wi-hail:before { content: '\e816'; } /* '' */
.wi-lightning:before { content: '\e817'; } /* '' */
.wi-rain-mix:before { content: '\e818'; } /* '' */
.wi-rain-wind:before { content: '\e819'; } /* '' */
.wi-rain:before { content: '\e81a'; } /* '' */
.wi-showers:before { content: '\e81b'; } /* '' */
.wi-snow:before { content: '\e81c'; } /* '' */
.wi-thunderstorm:before { content: '\e81d'; } /* '' */
.wi-storm-showers:before { content: '\e81e'; } /* '' */
.wi-night-clear:before { content: '\e81f'; } /* '' */
.wi-cloud:before { content: '\e820'; } /* '' */
.wi-celsius:before { content: '\e827'; } /* '' */
.wi-degrees:before { content: '\e83a'; } /* '' */
.wi-tsunami:before { content: '\e84d'; } /* '' */
.wi-day-light-wind:before { content: '\e85a'; } /* '' */
.wi-night-sleet:before { content: '\e862'; } /* '' */
.wi-night-alt-sleet:before { content: '\e863'; } /* '' */
.wi-sleet:before { content: '\e864'; } /* '' */
.wi-day-haze:before { content: '\e865'; } /* '' */
.wi-light-up:before { content: '\e869'; } /* '' */
.wi-light-down:before { content: '\e86a'; } /* '' */
.wi-adjust:before { content: '\e86b'; } /* '' */
.wi-galery:before { content: '\e86c'; } /* '' */
.wi-location:before { content: '\e86d'; } /* '' */
