html {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato';
  height: 100vh;
  width: 100%;
}
html:before {
  content: '';
  position: absolute;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-image: url("../src/images/cater.jpg");
  -webkit-filter: blur(30px);
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  width: 100%;
  font-family: 'Lato';
  color: white;
  position: relative;
}

.jumbotron{
  background-image: url('../src/images/cater.jpg');
/*
  -webkit-filter: contrast(1.5);
  filter: contrast(1.5);
*/
  background-size: cover;
  background-position: center;
  min-height: 450px;
  margin-top: 60px;
  margin-bottom: -45px;
  padding: 2rem !important;
}



date {
background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 9px;
  border-radius: 10px;
  font-size: .7em;
  font-weight: 300;
}

p.clock{
  text-align: right;
  font-size: 1.5rem;
}


.weather_tab{
  border-bottom: 6px solid #EFB835;
}

.news_tab{
  border-bottom: 6px solid #868EE3;
}

.galery_tab{
  border-bottom: 6px solid #65B7CA;
}
.nav-tabs>li>a{
  background-color: transparent;
  border: none;
  color: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
background-color: transparent;
  border: none;
  color: rgba(104, 104, 104, 0.7);
}


.nav-tabs{
  border: none;
}





.card {
  width: 85%;
  margin: 1.5rem auto;
}
.card__top {
  border-radius: 12px 12px 0 0;
  width: 100%;
  background-image: url("");
  background-size: cover;
  overflow: hidden;
}
.card__intro {
  margin-bottom: 8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 50em) {
  .card__intro {
    margin-bottom: 16rem;
  }
}
.card__title {
  width: 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 20px 0 0 20px;
  margin: 0;
}
@media screen and (min-width: 50em) {
  .card__title {
    width: 70%;
  }
}
.card__meta {
  width: 100%;
  text-align: right;
  padding: 0px 0 0 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 1.125rem;
  color: #fff;
}

.card__meta:before{
  content: '';
  background-image: url('../src/images/location.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 40px;
  height: 50px;
  display: block;
  margin-left: 60px;

}
@media screen and (min-width: 50em) {
  .card__meta {
    text-align: right;
    padding: 20px 0 0 0;
  }
}
.card__options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
@media screen and (min-width: 50em) {
  .card__options {
    width: 60%;
  }
}
.card__options-cell {
  width: 100%;
  border-bottom: 6px solid #9AA3E5;
  text-align: center;
  padding-bottom: 4px;
}
.card__options-cell:first-child {
  border-color: #F2C459;
}
.card__options-cell:last-child {
  border-color: #6ACEE3;
}
.card__options-cell h3 {
  margin-bottom: 0;
  font-weight: 500;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  top: 0;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  cursor: pointer;
}
.card__options-cell h3:hover {
  color: white;
  top: -2px;
}
.card__bottom {
  width: 100%;
  z-index: 500;
  border-radius: 0 0 12px 12px;
  position: relative;
  background-color: #fff;
  opacity: 0.4;
  color: #f00;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.weather-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  flex-align: center;
}
@media screen and (min-width: 50em) {
  .weather-panel {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}
.weather-panel__cell {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
@media screen and (min-width: 50em) {
  .weather-panel__cell {
    width: 14.285%;
  }
  .weather-panel__cell > * {
    width: 100%;
    margin-bottom: 0;
  }
}
.weather-panel__cell date {
  cursor: pointer;
  width: 30%;
  max-height: 20px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.weather-panel__cell date:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
@media screen and (min-width: 50em) {
  .weather-panel__cell date {
    width: 80%;
    margin: 0 auto;
  }
}
.weather-panel__cell i.weather-icon {
  font-size:3rem;
  width: 50%;
  fill: white;
  height: 32px;
  margin: 0 auto;
}
@media screen and (min-width: 50em) {
  .weather-panel__cell i.weather-icon {
    margin: 1rem auto;
  }
}
.weather-panel .weather-panel__cell--main {
  width: 100%;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
@media screen and (min-width: 50em) {
  .weather-panel .weather-panel__cell--main {
    margin-bottom: 0;
    width: 50%;
  }
}
.weather-panel .weather-panel__cell--main .temp_date {
  width: 35%;
  text-align: center;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.weather-panel .weather-panel__cell--main .temp_date h2 {
  font-size: 4.8em;
  vertical-align: top;
  position: relative;
}
@media screen and (min-width: 75em) {
  .weather-panel .weather-panel__cell--main .temp_date h2 {
    font-size: 5em;
  }
}
.weather-panel .weather-panel__cell--main .temp_date h2 span {
  font-size: 50%;
  position: absolute;
}
.weather-panel .weather-panel__cell--main .temp_date date {
  width: 100%;
  font-size: .8rem;
  margin: 0 auto;
}
@media screen and (min-width: 45em) {
  .weather-panel .weather-panel__cell--main .temp_date date {
    font-size: .7rem;
  }
}
.weather-panel .weather-panel__cell--main .icon_details {
  width: 35%;
}
.weather-panel .weather-panel__cell--main .icon_details p {
  font-size: .9rem;
}
.weather-panel .weather-panel__cell--main .icon_details .icon {
  fill: white;
  width: 70%;
  max-width: 100px;
  margin: 0 auto;
}
@media screen and (min-width: 50em) {
  .weather-panel .weather-panel__cell--main .icon_details .icon {
    width: 80%;
  }
}

.news-panel {
  width: 100%;
  display: none;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
@media screen and (min-width: 40em) {
  .news-panel {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}
.news-panel__cell {
  max-height: 100px;
  width: 100%;
  margin-bottom: 2rem;
  display: block;
}
@media screen and (min-width: 40em) {
  .news-panel__cell {
    width: 25%;
  }
}
.news-panel__cell figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news-panel__cell figure div {
  width: 50%;
}
@media screen and (min-width: 40em) {
  .news-panel__cell figure div {
    width: 100%;
  }
}
.news-panel__cell figure img {
  width: 100%;
}
.news-panel__cell figure h2 {
  width: 45%;
  font-size: 0.8em;
  font-weight: 300;
}
@media screen and (min-width: 40em) {
  .news-panel__cell figure h2 {
    width: 100%;
  }
}
.news-panel__cell--main {
  margin-bottom: 5rem;
}
@media screen and (min-width: 30em) {
  .news-panel__cell--main {
    margin-bottom: 12rem;
  }
}
@media screen and (min-width: 40em) {
  .news-panel__cell--main {
    margin-bottom: 0;
  }
}
.news-panel__cell--main figure div {
  width: 100%;
}
.news-panel__cell--main figure h2 {
  width: 100%;
}

.active-option h3 {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  top: -2px;
}

@-webkit-keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: .9;
  }
  20% {
    opacity: .5;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
}

@keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: .9;
  }
  20% {
    opacity: .5;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .5;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .5;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.bounceOut {
  -webkit-animation: bounceOutDown 600ms linear forwards;
          animation: bounceOutDown 600ms linear forwards;
}

.hidden {
  display: none;
}

.bounceIn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: bounceIn 400ms linear forwards;
          animation: bounceIn 400ms linear forwards;
}

input.search {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 0;
  color: #FFF;
  outline: 0;
  font-size: 3em;
}
input.search::-webkit-input-placeholder {
  color: #72A0B7;
  opacity: 0.6;
}
input.search::-moz-placeholder {
  color: #FFF;
  opacity: 0.6;
}
input.search:-ms-input-placeholder {
  color: #FFF;
  opacity: 0.6;
}
input.search::placeholder {
  color: #FFF;
  opacity: 0.6;
}




/*
#EFB835 weather
#868EE3 news
#65B7CA gallery*/
